/**
 * All styles are related to forms visible for the contributor.
 */
form.user-locales-settings {
   width: 620px;
}

form.user-locales-settings div {
  text-align: right;
}

/**
 * CSS classes related to the select locale widget.
 */
form .locale.select.selected {
  float: right;
}

form .locale.select .menu {
  border-bottom: 1px solid #5E6475;
  margin: 2px 0 -4px -1px;
  overflow: auto;
  padding: 10px 0;
  width: 295px;
}

form > div {
  margin: 20px 0;
}

form .locale.select .menu ul {
  height: 170px;
  margin-bottom: 0;
}

form .locale.select .menu ul li span.code {
  float: right;
  width: auto;
}

form .locale.select {
  float: left;
  width: auto;
}

.select {
  text-align: left;
}

label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

.button {
  background: #888888;
  border: none;
  display: block;
  float: right;
  font-size: 14px;
  height: 31px;
  width: 31px;
}

.controls .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
}

form a:link, form a:visited {
  color: #7BC876;
  float: right;
  text-transform: uppercase;
}

form a.add-subpage,
form a.add-repo {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 17px;
}

.controls a {
  margin: 9px;
}


